<h1>Campaigns Index</h1>

<% @campaigns.each do |campaign| %>
  <h2><%= campaign.title %></h2>
  <p> <%= campaign.tags %></p>
  <p>Created by <%= campaign.expert.username %> </p>
  <li><%= link_to "Edit", edit_campaign_path(campaign.id) %></li>
<% end %>
