<h1>Campaigns Index</h1>

<% @campaigns.each do |campaign| %>
  <h2><%= link_to campaign.title, campaign %></h2>
  <p>Tags: <%= campaign.tags %></p>
  <p>Created by <%= campaign.expert.username %> </p>

  <% if can? :update, Campaign %>
    <%= link_to "Edit", edit_campaign_path(campaign.id) %>
  <% end %>
<% end %>
