<div class="container", id="form_container">
  <div class="col-lg-5 col-lg-offset-3">

    <h1><%= @campaign.title %></h1>
    <p>Tags: <%= @campaign.tags %> </p>
    <p>Estimated duration: <%= @campaign.estimated_duration %> </p>
    <u>Todo Lists</u>
    <% if @todo_lists %>
      <ul><% @todo_lists.each do |t| %>
        <li><b><%= t.title %></li>
          <% end %>
      </ul>
    <% else %>
      <p>No Todo Lists yet</p>
    <% end %>

    <%#= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
    <%#= link_to 'Back', root_path %> |
    <%#= link_to 'Delete', restaurant_path(@restaurant), method: :delete %>

  </div>
</div>
